<a href="javascript:void(0);" class="portlegendToggler button tiny secondary">Показать легенду</a>
<div id="portlegend" class="portlegend hide">
<table class="vertitable">
    <caption>
        Легенда<br />
        <span class="subtitle">Наведите мышь на порт для получения информации, щелкните - для получения подробностей</span>
    </caption>
    <tr>
        <th>Статус (цвет)</th>
        <td><span class="port passive">11</span> Не активен</td>
        <td><span class="port disabled">11</span> Выключен</td>
        <td><span class="port Mb10">11</span> 10 Mbit</td>
        <td><span class="port Mb100">11</span> 100 Mbit</td>
        <td><span class="port Mb1000">11</span> 1 Gbit</td>
        <td><span class="port Mb10000">11</span> 10 Gbit</td>
    </tr>
    <tr>
        <th>Статус (рамка)</th>
        <td><span class="port hduplex">11</span> Half duplex</td>
        <td><span class="port fduplex">11</span> Full duplex</td>
        <td><span class="port trunk">11</span> Транк</td>
        <td><span class="port blocked">11</span> Заблокирован</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Активность</th>
        <td><span class="port inactive">11</span> Свободен</td>
        <td><span style="background-color: #e5f5e0" class="port active">11</span> MAC-адреса были N дней назад</td>
        <td><span style="background-color: #74c476" class="port active">11</span> Сегодня были MAC-адреса</td>
        <td><span style="background-color: #74c476" class="port active link">11</span> Есть линк</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
