{% extends 'navlets/base.html' %}

{% block navlet-content %}
    {% if boxes_down %}
        <table class="listtable expand table-hover">

            <caption>
                <a href="{% url status-index %}">Статус сейчас</a>
                &ndash;
                <span class="subtitle">
                    устройства не работают: {{ boxes_down|length }},
                    из них в тени: {{ num_shadow }}
                </span>
            </caption>

            <thead>
            <tr>
                <th>Sysname</th>
                <th class="hide-for-medium-down">IP</th>
                <th>Прошло времени</th>
            </tr>
            </thead>

            <tbody>
            {% for b in boxes_down %}
                <tr>
                    <td>
                        <a href="{% url ipdevinfo-details-by-name b.netbox.sysname %}">
                            {{ b.netbox.sysname }}</a></td>
                    <td class="hide-for-medium-down">{{ b.netbox.ip }}</td>
                    <td>{{ b.start_time|timesince:date_now }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if problems %}
          <p class="alert-box alert">
              Другие проблемы: {{ problems }}.
              <a href="{% url status-index %}">Посмотреть полный список</a>
          </p>
        {% endif %}
    {% else %}
        <p class="alert-box success">Все устройства работают</p>
        {% if problems %}
          <p class="alert-box alert">
              Другие проблемы: {{ problems }}.
              <a href="{% url status-index %}">Посмотреть полный список</a>
          </p>
        {% endif %}
    {% endif %}

{% endblock %}
