{% extends "messages/base.html" %}
{% block tabcontent %}

    {% if messages %}
        <table class="listtable">
            <caption>{{ caption }}</caption>
            <thead>
                <tr>
                    <th>Опубликовано</th>
                    <th>Тема</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.publish_start|date:"DATETIME_FORMAT_SHORT" }}</td>
                        <td><a href="{% url messages-view message.id %}">{{ message.title }}</a></td>
                        <td>{{ message.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert-box secondary">Нет сообщений</p>
    {% endif %}

    {% if not current_user_data.account.is_default_account %}
      <a href="{% url messages-create %}" class="button small">Создать сообщение</a>
    {% endif %}
{% endblock tabcontent %}
